
@font-face {
  font-family: 'SVN-Avo';
  src: url('SVN-Avo.eot?#iefix') format('embedded-opentype'),  url('SVN-Avo.woff') format('woff'), url('SVN-Avo.ttf')  format('truetype'), url('SVN-Avo.svg#SVN-Avo') format('svg');
  font-weight: normal;
  font-style: normal;
}
